{% extends 'base.html.twig' %}
{% block title %}Accueil{% endblock %}

{% block body %}
    <h1 style="text-align: center; font-weight: bold; text-decoration: underline;">Bienvenue</h1>
    </br>
    <div class="card">
        <img src="https://www.prosolair.com/data/IndeXysBibliothequeHTML/aides-en-ligne/store-rideau-college.jpg" alt
             class="card-img-top" width="450" height="550">
    </div>


{% endblock %}

